<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<header>
    <h1>Review Fun</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/moviepage">Movies</a></li>
            <li><a href="/registerpage">Registration</a></li>
            <li><a href="/manageuser">Manage users</a></li>
            <li><a href="/login">Login</a></li>
            <br>
            <br>
            <br>
            <li>
                <form th:action="@{/performLogout}" method="post" style="display: inline;">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit" id="logoutButton">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</header>
<body>
<main>
    <div th:if="${param.success}" class="success-message">
        <p th:text="'Success: ' + ${param.success}"></p>
    </div>
    <div th:if="${param.error}" class="error-message">
        <p th:text="'Error: ' + ${param.error}"></p>
    </div>
    <h2>Available Movies</h2>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.director}"></td>
            <td th:text="${movie.genre}"></td>
            <td>
                <form th:action="@{/moviepage/details}" method="get" style="display: inline;">
                    <input type="hidden" name="movieId" th:value="${movie.id}"/>
                    <button type="submit">Details</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>

</body>
</html>